/* Desktop */
.authorization {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: lightgray;

  .groupe {
    position: absolute;
    width: 240px;
    height: 192px;
    left: 600px;
    top: 416px;
  }
}
