<div class="authorization">
  <div class="groupe">
    <form [formGroup]="authorizationForm" (submit)="submit(login, pass)" novalidate>
      <mat-form-field class="inputLogin">
        <input matInput formControlName="login" placeholder="Login">
      </mat-form-field>
      <mat-form-field class="inputPass">
        <input matInput formControlName="pass" placeholder="Pass">
      </mat-form-field>
      <div class="submitButton">
        <button mat-flat-button color="primary">ВОЙТИ</button>
      </div>
    </form>
  </div>
</div>